header {
  border-bottom: 2px solid #cdcdcd; }
  header .navbar {
    margin: 0px;
    margin-top: 20px; }
    header .navbar a {
      color: white;
      background: #39A0ED; }
      header .navbar a.navbar-brand {
        height: 60px;
        width: 200px;
        text-align: center;
        padding: 20px 15px; }
    header .navbar ul li a {
      color: #39A0ED;
      background: none;
      cursor: pointer;
      transition: all .2s ease-in-out;
      font-size: 16px; }
      header .navbar ul li a:hover {
        color: #59CD90;
        background: transparent; }

.nav > li {
  display: inline-block; }

.pad-top {
  margin-top: 40px; }

.title {
  margin: 0px;
  margin-bottom: 40px; }

.image-contain {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center; }

.icon {
  width: 65px;
  height: 65px;
  cursor: pointer; }
  .icon.stack {
    width: 59px;
    height: 59px;
    padding: 0px;
    margin-top: 1px; }
